body{

    margin:0;
    padding:0;
    background-color:#F1F1F1;
}

.vertical-div{
    float: left;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;


    background-color: #4D394B;
    width: 13%;
    height: 100%;

    }


.dropdown-menu_home > ul {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.5s;
    opacity: 0;
    background-color: #FFFFFF;
    margin-left: 10%;
    border-radius: 1em;
    list-style-type: none;
    width:100%;
    padding-top: 5%;
    padding-bottom: 3%;


}

.dropdown-menu_home > div:focus ~ ul {
    visibility: visible;
    opacity: 1;
    z-index: 8;
}

.dropdown-menu_home_test :hover {

    background-color: rgb(62,49,60);



}


#display_info_home{

    background-color: #4D394B;
    margin:0;
    border: 0;
    font-weight: 900;
    font-size: 150%;
    Helvetica: Helvetica;
    color: #FFFFFF;
    padding-top: 3%;
    padding-left: 10%;
    outline: none;


}


#display_info_home:hover{

    background-color: #3E313C;

}

#dis_user_name{
    Helvetica: Helvetica;
    color: #FFFFFF;
    font-size: 70%;
}

.home-top-nav{
    position:fixed;
    float: left;
    width: 87% ;
    height: 7%;
    margin-left: 13%;
    background-color: #FFFFFF;



}

.submit-button{

    border: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 45%;
    margin-left: -8%;
    border-radius: 0.5em;
    text-align: left;
    font-family: Helvetica;
    padding: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}

.submit-button:hover{

    background-color: #2D9EE0;

}
.dp_home{
    float: left;
    height: 40px;
    width: 40px;
    margin-left: -7%;
}
.full_name_display{

    color: #A0A0A2;

}

.all_threads{

    color:#A0A0A2;

    font-size: 100%;
    font-weight: 600;
    font-family: Helvetica;
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom:10% ;
}
.all_threads:hover{

    background-color: rgb(62,49,60) ;
}

#channels_tag{

    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    color: #A0A0A2;
    font-weight: 400;
    font-size: 110%;


}
#channels_tag:hover{

    color: #FFFFFF;


}
#channels_tag_div{

    color: #A0A0A2;
}
#channels_tag_button{

    background-color: transparent;
    border: none;
    color: #A0A0A2;
    outline: none;
    cursor: pointer;
}
.chat_area{
    float: left;
    margin-left: 13%;
    margin-top: 3.5%;
    width: 87%;
    height: 86%;

    overflow-y:auto;
    overflow-x:hidden ;
    position: fixed;

    z-index: -1;




}
.message_post{



    margin-left: 1%;
  /*  border: solid 1px grey;
*/    width: 80%;
   /* min-height: 1.5em;
    max-height: 5em;
    overflow-y: auto;
    max-width: 83%;
    padding: 0.2% 0.2% 0.2% 0.2%;
   */
    margin-left: 14%;
    border-radius: 0.3em;
    background-color: transparent;
   position: fixed;
   bottom: 0%;

}

.channel_name{



    margin-top: 2%;

    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 2%;
    border: none;
    background-color: transparent;
    outline: none;
    color: #A0A0A2;
    font-size: 93%;
    font-weight: 550;
    cursor: pointer;



}




.channel_name:hover{

    background-color: rgb(62,49,60) ;
}

.top_channel_display{

    color: #2C2D30;
    font-weight: 700;
    margin-left: 1% ;
    margin-top: 1%;
    font-size: 120%;

}

.gap{
    margin-top: 1%;


}

.message_submit{

    border: solid red 2px;
    margin-left: 95%;

}
.message_display{

    padding:1%;

    width: 106% !important;

    bottom: 0;
    word-wrap: break-word;


}
.message_sub{

    width: 91%;
    margin-top: 0.2%;


}


.input_message{

    width: 95%;
    padding: 0.2% 0.2% 0.2% 0.2%;

    border: solid 1px grey;

    overflow-y: auto;


    border-top-left-radius:0.3em ;
    border-bottom-left-radius:0.3em ;
    background-color: #FFFFFF;

}

.submit_button_message{

    float: left;
    position: absolute;
    left: 95.33%;
    bottom:16%;
    height: 76%;
    border-top-right-radius:0.5em ;
    border-bottom-right-radius:0.5em ;
    outline: none;
    background-color: transparent;
    background-color: #6ABCF9;
    border: none;


}


.message_user_image{


    border: solid 1px gray;
    margin-left: 1.5%;
    border-radius: 50%;
    height: 40px;
    width: 40px;



}

.message_user_full_name{

    float: left;
    margin-left: -6%;
   /* margin-top: -1.3%;
*/


}
.message_display{
    float: left;
    margin-left: -11%;
    margin-top: 0.5%;


}

.only_message:hover{

    background-color: #FFFFFF;

}

.only_message{


    width: 120% !important;

}
.message_display_sub{
    position: relative;
    float: left;
    margin-left: 3.3%;
    margin-top: -1%;
    margin-bottom: 1%;
    width: 98%;
 padding-left:1% ;
    bottom: 0;
    word-wrap: break-word;

}


.fullname_msg_span{

    font-weight: 600;


}

.left_hr{

    width: 33%;

    float: left;
}


.right_hr{

    width: 33%;

    float: right;
}
.today_text{

    margin-left: 9%;

}
.date_msg_text{

    margin-left: 6%;


}
.the_whole_message{

    width: 94%;
    padding: 0;

}

.the_whole_message:hover > .message_reactions{

    visibility: visible;




}


.the_whole_message_sub:hover {

    background-color: #FFFFFF;




}




.message_reactions{

    float: right;
    margin-top: -3%;
    margin-right: 1%;
   /* background-color:#F1F1F1; */
    border-radius: 0.3em;
    visibility: visible;

}



.message_reactions_with_user{

    float: right;

    margin-right: -8%;
    margin-left: 2%;
   /* background-color:#F1F1F1; */
    border-radius: 0.3em;
    visibility: visible;

}


.message_reactions_sub{

    float: right;
    margin-top: -1.3%;
    margin-right: 1%;
   /*background-color:#F1F1F1;*/
    border-radius: 0.3em;
    margin-right: 5%;


}

.like_dislike{
    background-color: transparent;
    border-radius: 0.5em;
    outline: none;




}
.image_div{

    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 1%;



}
.close_button{
    float: right;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;


}
.thread_management{
    position: absolute;
    float: right;
    margin: 2% ;
    background-color: #FFFFFF;
    width: 20%;
    height: 92%;
    margin-left: 80%;

    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;

}
.thread_top_bar{

    margin-top: 6%;
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
    background-color: #F1F1F1;

}

.thread_user_image{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 0.1em;
    border: solid gray 0.5px;
    margin-top: 3%;
    margin-left: 3%;

}

.thread_message_username{

    float: left;
    margin-top: 3%;
    margin-left: 3%;

}

.thread_time{
    float: left;
    font-family: Helvetica;
    font-size: 73%;
    margin-top: 4%;
    margin-left: 1%;

}

.thread_message{


    margin-left: 3%;
    margin-top: 10%;
    word-wrap: break-word;
}
.thread_input{

    border: solid 1px grey;

    overflow-y: auto;
    width: 100%;

    border-radius:0.3em ;
    background-color: #FFFFFF;



}
.thread_submit{

    float: right;
    background: none;
    outline: none;
    border-radius:0.3em ;

}


.appended_image{

    float: left;
    height: 40px;
    width: 40px;
    border-radius: 0.1em;
    border: solid gray 0.5px;
    margin-top: 3%;
    margin-left: 3%;


}
.appended_username{

    float: left;
    margin-top: 3%;
    margin-left: 3%;



}
.appended_thread_time{
    float: left;
    font-family: Helvetica;
    font-size: 73%;
    margin-top: 4%;
    margin-left: 1%;

}
.appended_thread_message{


    margin-left: 17%;
    margin-top:4%;
    word-wrap: break-word;
}
.combine_append{

    width: 100%;
}


.older_messages{

    margin-left: 48%;


}
.class_modal{
    float:right;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.modal-backdrop {
    z-index: -2 !important;
}
.clear {
    clear: both;
}


/*
.top-user-button{

    width: 100%;
    height: 6%;
    background-color: #4D394B;
    padding:0;
    margin:0;
    border: 0;

}


.onclick-menu {
    position: relative;
    display: inline-block;
}
.onclick-menu:before {
    content: "oducsSLACK";
    font-weight: 900;
    font-size: 150%;
    Helvetica: Helvetica;
    position: relative;
    color: #FFFFFF;
    top: 40%;
    left: 10%;
}
.onclick-menu:focus .onclick-menu-content {
    display: block;
    background-color: #FFFFFF;
    left:10%;
    width:130%;
    list-style-type: none;
    border-radius: 1em;
    outline: none;
    border: 2px black;
    z-index: 1;
    height: 450%;

}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    top: 100%;
    height:140%;
    display: none;
}


div:focus{

    outline: none;

}
#demo {
    margin: 30px 0 50px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#demo .wrapper {
    display: inline-block;
    width: 180px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}

#username-display{

    color: white;
    font-weight: 700;
    Helvetica: Helvetica;
    padding-left: 10%;


}
#username-display-in-div{

    color: black;
    font-weight: 700;
    Helvetica: Helvetica;
    padding-left: 10%;


}
#fullname-display-in-div{

    color: #A6A0A2;
    font-family: Arial;
    font-size: 90%;
    padding-left: 10%;
    
    
}
.user-dropdown{
     border:0;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 10%;
    border-radius: 0.5em;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.user-dropdown:hover{

    background-color: #2D9EE0;


}
#submit-button{

    border: 0;
    background-color: #FFFFFF;
    width: 80%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0.5em;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

#submit-button:hover{

    background-color: #2D9EE0;

}



*/
